In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/HandGestures/all_data.csv")

In [4]:
data

                                             file label
0       /content/pictures/Ok/frame_08_07_0198.png    Ok
1       /content/pictures/Ok/frame_03_07_0011.png    Ok
2       /content/pictures/Ok/frame_03_07_0194.png    Ok
3       /content/pictures/Ok/frame_05_07_0002.png    Ok
4       /content/pictures/Ok/frame_09_07_0012.png    Ok
...                                           ...   ...
7595  /content/pictures/Palm/frame_03_01_0024.png  Palm
7596  /content/pictures/Palm/frame_05_01_0068.png  Palm
7597  /content/pictures/Palm/frame_00_01_0069.png  Palm
7598  /content/pictures/Palm/frame_08_01_0114.png  Palm
7599  /content/pictures/Palm/frame_05_01_0170.png  Palm

[7600 rows x 2 columns]

In [5]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(data.file, data.label, test_size=0.3, random_state=42)

In [6]:
# Split the test set again to get a validation and test set
val_x, test_x, val_y, test_y = train_test_split(test_x, test_y, test_size=0.1, random_state=42)

In [7]:
train_data = pd.DataFrame({"file": train_x, "label": train_y})
valid_data = pd.DataFrame({"file": val_x, "label": val_y})
test_data = pd.DataFrame({"file": test_x, "label": test_y})

In [8]:
train_data.to_csv("/content/drive/MyDrive/Colab Notebooks/HandGestures/train_split.csv", index=False)
valid_data.to_csv("/content/drive/MyDrive/Colab Notebooks/HandGestures/valid_split.csv", index=False)
test_data.to_csv("/content/drive/MyDrive/Colab Notebooks/HandGestures/test_split.csv", index=False)